/*
Color palette: 
#231942
#5e548e
#9f86c0
#be95c4
#e0b1cb

Gardient palette:
#f6d5f7
#fbe9d7
*/

*{
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}
#title {
    color: #231942;
    text-align: center;
}
.centrar {
    text-align: center;
}
.texto-grande {
    font-size: 20px;
}
h2 {
    color: #5e548e;
    text-align: center;
}
/*p.centrar {
    text-align: center;
}*/
.rojo {
    font-size: 25px;
    color: red;
    border: 10px solid;
    border-color: #e0b1cb #be95c4;
    border-radius: 15px;
}
.rosa {
    font-size: 25px;
    color: pink;
    border: 10px dashed #be95c4;
    border-width: thick;
}
.amarillo {
    font-size: 25px;
    color: yellow;
    border: 10px double #9f86c0;
    border-width: 10px 20px;
}
.morado {
    font-size: 25px;
    color: purple;
    border: 10px dotted #5e548e;
}
.surco {
    font-size: 25px;
    color: black;
    border: 10px groove;
}
.ridge {
    font-size: 25px;
    color: black;
    border: 10px ridge;
}
.inset {
    font-size: 25px;
    color: black;
    border: 10px inset;
}
.outset{
    font-size: 25px;
    color: black;
    border: 10px outset;
}
.mixto {
    font-size: 25px;
    color: black;
    border-style: dashed dotted double ridge;
}
.redondeado {
    font-size: 25px;
    color: black;
    border: 10px solid #e0b1cb;
    border-radius: 20px 0px 10px 0px;
}
.boxmodel {
    padding: 10px;
    border: 0 solid #be95c4;
    margin: 0;
    background-color: #e0b1cb;
    max-width: 100%;
    /*max max-height: 100px;*/
    /*outline: 10px solid #9f86c0;
    outline-offset: 10px;*/
    box-sizing: border-box;
}
.box-center {
    padding: 10px 15px;
    border: 10px solid #be95c4;
    margin-left: 100px;
    box-sizing: border-box;
}
p.interno {
    margin: inherit;
}
div {
    margin: 20px;
}
.caja-uno {
    margin: 30px;
}